<div
  class="modal fade"
  id="modalExemplo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        function deleteMovie() {
            console.log(target)
          try {
            axios.delete(`/movie/${target}`);
          } catch (err) {
            console.log(err);
          }
        }
      </script>
      <div class="modal-body">
        <h1>Delete</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Cancel
        </button>
        <button onclick="deleteMovie()" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
