<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header table-striped table-dark">
        <h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        function deleteMovie() {
          try {
            axios.delete(`/movie/${selectedId}`);
            location.assign("/");
          } catch (err) {
            console.log(err);
          }
        }
      </script>
      <div class="modal-body table-striped table-dark">
        Do you really want to delete the movie?
      </div>
      <div class="modal-footer table-striped table-dark">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">
          Cancel
        </button>
        <button onclick="deleteMovie()" class="btn btn-outline-light">Delete</button>
      </div>
    </div>
  </div>
</div>
