body {
  padding: 0;
  margin: 0;
}



.header {
  background-color: black;
}

.poster {
  width: 100px;
  height: 160px;
}

.nomeFilme{
  font-size: 95px;
  margin: auto;
}

.modalPoster{
  width: 200px;
  height: 240px;
  padding-left: auto;
}
.center{
  margin:auto;
}
form {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  text-shadow: 5px 5px 5px black;
}

.page {
  background-color: black;
}


form label {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

.cadastro {
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 3.2rem 0;
}

.titulo {
  border-radius: 5px;
  border-style: hidden;
  border-color: darkgray;
  height: 55px;
  width: 505px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.6rem;
}

.btnPadrao{
  height: 55px;
  width: 505px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

.enviar {
  margin: center;
  width: 100%;
  margin-top: 2px;
}

.mainNav{
  height: 80px;
}

.desc{
 max-width: 20rem;
}