body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: black;
}

.poster {
  width: 100px;
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  text-shadow: 5px 5px 5px black;
}

.page {
  background-color: black;
}


form label {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

.cadastro {
  border-radius: 5px;
  border-style: solid;
  border-color: darkgray;
  height: 750px;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

.titulo {
  border-radius: 5px;
  border-style: solid;
  border-color: darkgray;
  height: 70px;
  width: 500px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.enviar {
  margin: center;
  width: 100%;
  margin-top: 20px;
}

.mainNav{
  height: 80px;
}