<%- include("../partials/header") %>

<div>
  <form action="" method="post">
    <div class="form-group">
      <input name="_method" type="hidden" value="put">
      <label for="titulo">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="emailHelp"
        placeholder="Vingador: Ultima..."
      />
    </div>
    <div class="form-group">
      <label for="sinopse">Sinopse</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        aria-describedby="emailHelp"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="director">Diretor</label>
      <input
        type="text"
        class="form-control"
        id="director"
        name="director"
        aria-describedby="emailHelp"
        placeholder="Diretor..."
      />
    </div>
    <div class="form-group">
      <label for="actor">Ator</label>
      <input
        type="text"
        class="form-control"
        id="actor"
        name="actor"
        aria-describedby="emailHelp"
        placeholder="Johnny Depp..."
      />
    </div>
    <div class="form-group">
      <label for="rate">Avaliação</label>
      <input
        type="text"
        class="form-control"
        id="rate"
        name="rate"
        aria-describedby="emailHelp"
        placeholder="10"
      />
    </div>
    <div class="form-group">
      <label for="launch">Lançamento</label>
      <input
        type="date"
        class="form-control"
        id="launch"
        id="launch"
        aria-describedby="emailHelp"
        placeholder=""
      />
    </div>

    <div class="form-group">
      <label for="poster">Link do Poster</label>
      <input
        type="text"
        class="form-control"
        id="poster"
        name="poster"
        aria-describedby="emailHelp"
        placeholder="https://linkdoposter/poster.png"
      />
    </div>

  
    <button type="submit" class="btn btn-primary" id="send" value="Enviar">Enviar</button>
  </form>
</div>

<%- include("../partials/footer") %>
