<%- include("../partials/header") %>

<div>
  <h1 class="titulo">CADASTRO DE FILMES</h1>
</div>
<div class="cadastro">
  <form action="/movie/registerMovie" method="post">
    <div class="form-group">
      <input name="_method" type="hidden" value="put" />
      <label for="titulo">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="emailHelp"
        placeholder="Vingador: Ultima..."
        required
      />
    </div>
    <div class="form-group">
      <label for="sinopse">Sinopse</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        aria-describedby="emailHelp"
        placeholder=""
        required
      />
    </div>
    <div class="form-group">
      <label for="director">Diretor</label>
      <input
        type="text"
        class="form-control"
        id="director"
        name="director"
        aria-describedby="emailHelp"
        placeholder="Diretor..."
        required
      />
    </div>
    <div class="form-group">
      <label for="actor">Ator</label>
      <input
        type="text"
        class="form-control"
        id="actor"
        name="actor"
        aria-describedby="emailHelp"
        placeholder="Johnny Depp..."
        required
      />
    </div>
    <div class="form-group">
      <label for="rate">Avaliação</label>
      <input
        type="number"
        class="form-control"
        id="rate"
        name="rate"
        min="0"
        max="10"
        aria-describedby="emailHelp"
        placeholder="10"
        required
      />
    </div>
    <div class="form-group">
      <label for="rate">Genero</label>
      <select name="genre" class="form-control" required>
        <option value="Ação">Ação</option>
        <option value="Terror">Terror</option>
        <option value="Suspense">Suspense</option>
        <option value="Aventura">Aventura</option>
        <option value="Drama">Drama</option>
      </select>
    </div>
    <div class="form-group">
      <label for="poster">Link do Poster</label>
      <input
        type="text"
        class="form-control"
        id="poster"
        name="poster"
        aria-describedby="poster"
        placeholder="https://linkdoposter/poster.png"
        required
      />
    </div>

    <div class="form-group">
      <label for="launch">Lançamento</label>
      <input
        type="date"
        class="form-control"
        id="launch"
        name="launch"
        aria-describedby="emailHelp"
        placeholder=""
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary enviar"
      id="send"
      value="Enviar"
    >
      Enviar
    </button>
    <a href="/" class="btn btn-warning enviar">Voltar</a>
  </form>
</div>

<%- include("../partials/footer") %>
