<%- include("../partials/header") %>


<div class="table table-striped table-dark cadastro">
  <form action="/movie/registerMovie" method="post" class="cadastro">
    <h2 class="titulo">MOVIE REGISTER</h2>
    <div class="form-group">
      <input name="_method" type="hidden" value="put" />
      <label for="titulo">Title</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="emailHelp"
        placeholder="Vingador: Ultima..."
        required
      />
    </div>
    <div class="form-group">
      <label for="sinopse">Sinopse</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        aria-describedby="emailHelp"
        placeholder=""
        required
      />
    </div>
    <div class="form-group">
      <label for="director">Director</label>
      <input
        type="text"
        class="form-control"
        id="director"
        name="director"
        aria-describedby="emailHelp"
        placeholder="Diretor..."
        required
      />
    </div>
    <div class="form-group">
      <label for="actor">Actor</label>
      <input
        type="text"
        class="form-control"
        id="actor"
        name="actor"
        aria-describedby="emailHelp"
        placeholder="Johnny Depp..."
        required
      />
    </div>
    <div class="form-group">
      <label for="rate">Rate</label>
      <input
        type="number"
        class="form-control"
        id="rate"
        name="rate"
        min="0"
        max="10"
        aria-describedby="emailHelp"
        placeholder="10"
        required
      />
    </div>
    <div class="form-group">
      <label for="rate">Genre</label>
      <select name="genre" class="form-control" required>
        <option value="Action">Action</option>
        <option value="Horror">Horror</option>
        <option value="Suspense">Suspense</option>
        <option value="Adventure">Adventure</option>
        <option value="Drama">Drama</option>
      </select>
    </div>
    <div class="form-group">
      <label for="poster">Poster Link</label>
      <input
        type="text"
        class="form-control"
        id="poster"
        name="poster"
        aria-describedby="poster"
        placeholder="https://linkdoposter/poster.png"
        required
      />
    </div>

    <div class="form-group">
      <label for="launch">Launch</label>
      <input
        type="date"
        class="form-control"
        id="launch"
        name="launch"
        aria-describedby="emailHelp"
        placeholder=""
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary enviar"
      id="send"
      value="Enviar"
    >
      Submit
    </button>
    <a href="/" class="btn btn-warning enviar">Return</a>
  </form>
</div>

<%- include("../partials/footer") %>
