<%- include("../partials/header") %>
<h1 class="Titulo">Sucesso</h1>
<h2 class="btnPadrao">
  <a href="/registerMovie" class="btn btn-primary enviar">Cadastrar novo filme</a>
  <a href="/" class="btn btn-warning enviar">Voltar ao ínicio</a>
</h2>

<%- include("../partials/footer") %>
